.my_header
{
    line-height:30px;
    width:240px;
    background-color:gold;
    text-align:center;
    vertical-align:middle;
    margin:0;
}
/*.my_img
{
        width:240px;
        height:320px;
      
}*/